{% extends 'base.html' %}

{% block title %} Random Role Spinner & Coach Picker | Rolet {% endblock %}

{% block content %}
    <div class="navbar">
        <span class="logo-items">
            <img src="{{ url_for('static', filename='images/exp.png') }}" class="logo">
            <span>
                <div class="logo-name">Rolett</div>
                <div class="logo-description">Role & Coach Gacha System</div>
            </span>
        </span>
    </div>
    <div class="gacha-container">
        <div class="intro">Roll Your Role!</div>
        <img src="{{ url_for('static', filename='images/' ~ image ~ '.png') }}" class="role-icons">
        <input type="text" name="player" placeholder="Enter player name" class="player-input">
        <button class="roll-btn">Roll</button>
    </div>
{% endblock %}